<div class="row justify-content-center" [@fadeInOut]>
  <div class="col-md-12">
    <!-- Input addon -->
    <div class="card card-info">
      <div class="card-header">
        <h3 class="card-title">Formulario de actualización de datos</h3>
      </div>
      <div class="card-body">
        <form [formGroup]="impuestoForm">
          <div class="row">
            <div class="col-md-6">
              <label>Descripcion del Modulo</label>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-info"></i></span>
                </div>
                <input type="text" class="form-control" placeholder="Descripcion del impuesto"
                  formControlName="descripcion" required>
              </div>
              <!-- Mensaje de error para la descripcion -->
              <div *ngIf="isFieldInvalid('descripcion')" class="text-danger">
                La descripcion del impuesto es obligatoria.
              </div>
            </div>
            <div class="col-md-6">
              <label>Valor del calculo</label>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-info"></i></span>
                </div>
                <input type="number" class="form-control" placeholder="Valor de calculo a utilizar"
                  formControlName="valor" required>
              </div>
              <!-- Mensaje de error -->
              <div *ngIf="isFieldInvalid('valor')" class="text-danger">
                El valor del calculo no puede ser negativo
              </div>
            </div>
          </div>

          <!-- Botones del formulario -->

              <button type="button" class="btn btn-danger mr-1" data-toggle="modal" data-target="#miModal">Cancelar</button>

              <button type="button" class="btn btn-info float-right" data-toggle="modal"
                data-target="#miModalConfirmar" [disabled]="!impuestoForm || impuestoForm.invalid">Confirmar</button>

        </form> <!-- Cerrar el formulario -->
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>
</div>

<div class="modal" id="miModal" tabindex="-1" role="dialog" aria-labelledby="miModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content modal-fade-in">
      <!-- Encabezado de la ventana modal -->
      <div class="modal-header">
        <h5 class="modal-title">Confirmar Cambios</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <!-- Contenido de la ventana modal -->
      <div class="modal-body">
        <p>¿Estás seguro de cancelar los cambios?</p>
      </div>

      <!-- Botones de la ventana modal -->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" [routerLink]="['/dashboard/impuesto']"
          data-dismiss="modal">Confirmar</button>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="miModalConfirmar" tabindex="-1" role="dialog" aria-labelledby="miModalLabelConfirmar"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content modal-fade-in">
      <!-- Encabezado de la ventana modal -->
      <div class="modal-header">
        <h5 class="modal-title">Confirmar Cambios</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <!-- Contenido de la ventana modal -->
      <div class="modal-body">
        <p>¿Estás seguro de guardar los cambios?</p>
      </div>

      <!-- Botones de la ventana modal -->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="updateImpuestosData()" [disabled]="impuestoForm.invalid">Confirmar</button>
      </div>
    </div>
  </div>
</div>
