<div class="row justify-content-center" [@fadeInOut]>
  <div class="col-md-12">
    <!-- Input addon -->
    <div class="card card-info">
      <div class="card-header">
        <h3 class="card-title">Formulario de actualización de datos</h3>
      </div>
      <div class="card-body">
        <form [formGroup]="usuarioForm">
          <!-- Alias del Usuario -->
          <div class="row">
            <div class="col-md-6">
              <label>Alias del Usuario</label>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-user-secret"></i></span>
                </div>
                <input type="text" class="form-control" placeholder="Alias" formControlName="alias" required>
              </div>
              <!-- Mensaje de error para el alias -->
              <div *ngIf="isFieldInvalid('alias')" class="text-danger">
                El alias es obligatorio.
              </div>
            </div>

            <!-- Nombre del Usuario -->
            <div class="col-md-6">
              <label>Nombre del Usuario</label>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-user"></i></span>
                </div>
                <input type="text" class="form-control" placeholder="Nombre" formControlName="nombre" required>
              </div>
              <!-- Mensaje de error para el nombre -->
              <div *ngIf="isFieldInvalid('nombre')" class="text-danger">
                El nombre es obligatorio.
              </div>
            </div>
          </div>

          <!-- Apellido del Usuario -->
          <div class="row">
            <div class="col-md-6">
              <label>Apellido del Usuario</label>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-user"></i></span>
                </div>
                <input type="text" class="form-control" placeholder="Apellido" formControlName="apellido" required>
              </div>
              <!-- Mensaje de error para el apellido -->
              <div *ngIf="isFieldInvalid('apellido')" class="text-danger">
                El apellido es obligatorio.
              </div>
            </div>

            <!-- Email del Usuario -->
            <div class="col-md-6">
              <label>Email del Usuario</label>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                </div>
                <input type="email" class="form-control" placeholder="Email" formControlName="email" required>
              </div>
              <!-- Mensaje de error para el email -->
              <div *ngIf="isFieldInvalid('email')" class="text-danger">
                El email es obligatorio y debe ser válido.
              </div>
            </div>
          </div>

          <!-- Cedula de Identidad del Usuario -->
          <div class="row">
            <div class="col-md-6">
              <label>Cedula de Identidad del Usuario</label>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-id-card"></i></span>
                </div>
                <input type="number" class="form-control" placeholder="Cédula de Identidad"
                  formControlName="cedula_identidad">
              </div>
            </div>
          </div>

          <!-- Botones del formulario -->

              <button type="button" class="btn btn-danger mr-1" data-toggle="modal" data-target="#miModal">Cancelar</button>

              <button type="button" class="btn btn-info float-right" data-toggle="modal" data-target="#miModalConfirmar"
                [disabled]="!usuarioForm || usuarioForm.invalid">Confirmar</button>

        </form> <!-- Cerrar el formulario -->
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>
</div>

<div class="modal" id="miModal" tabindex="-1" role="dialog" aria-labelledby="miModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content modal-fade-in">
      <!-- Encabezado de la ventana modal -->
      <div class="modal-header">
        <h5 class="modal-title">Confirmar Cambios</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <!-- Contenido de la ventana modal -->
      <div class="modal-body">
        <p>¿Estás seguro de cancelar los cambios?</p>
      </div>

      <!-- Botones de la ventana modal -->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" [routerLink]="['/dashboard/usuario']"
          data-dismiss="modal">Confirmar</button>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="miModalConfirmar" tabindex="-1" role="dialog" aria-labelledby="miModalLabelConfirmar"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content modal-fade-in">
      <!-- Encabezado de la ventana modal -->
      <div class="modal-header">
        <h5 class="modal-title">Confirmar Cambios</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <!-- Contenido de la ventana modal -->
      <div class="modal-body">
        <p>¿Estás seguro de confirmar los cambios?</p>
      </div>

      <!-- Botones de la ventana modal -->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" [routerLink]="['/dashboard/usuario']" data-dismiss="modal"
          (click)="updateUserData()" [disabled]="usuarioForm.invalid">Confirmar</button>
      </div>
    </div>
  </div>
</div>
