<section class="content" [@fadeInOut]>
  <div class="row">
    <div class="col-md-12">
      <div class="card card-gray-dark">
        <div class="card-header">
          <h3 class="card-title">Sistema General</h3>

          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
              <i class="fas fa-minus"></i>
            </button>
          </div>
        </div>
        <div class="card-body" style="display: block;">
          <div class="row">
            <div class="col-12 col-sm-6 col-md-3">
              <div class="info-box bg-gradient-cyan" [routerLink]="['/dashboard/usuario']" style="cursor: pointer;">
                <button class="info-box-icon btn btn-dark elevation-1">
                  <i class="fas fa-window-restore"></i>
                </button>
                <div class="info-box-content">
                  <span class="info-box-text">Acceso a:</span>
                  <span class="info-box-number">Usuarios</span>
                </div>
                <!-- /.info-box-content -->
              </div>
              <!-- /.info-box -->
            </div>
            <div class="col-12 col-sm-6 col-md-3">
              <div class="info-box bg-gradient-cyan" [routerLink]="['/dashboard/rol']" style="cursor: pointer;">
                <button class="info-box-icon btn btn-dark elevation-1" >
                  <i class="fas fa-window-restore"></i>
                </button>
                <div class="info-box-content">
                  <span class="info-box-text">Acceso a:</span>
                  <span class="info-box-number">Roles</span>
                </div>
                <!-- /.info-box-content -->
              </div>
              <!-- /.info-box -->
            </div>
            <div class="col-12 col-sm-6 col-md-3">
              <div class="info-box bg-gradient-cyan" [routerLink]="['/dashboard/modulo']" style="cursor: pointer;">
                <button class="info-box-icon btn btn-dark elevation-1">
                  <i class="fas fa-window-restore"></i>
                </button>
                <div class="info-box-content">
                  <span class="info-box-text">Acceso a:</span>
                  <span class="info-box-number">Módulos</span>
                </div>
                <!-- /.info-box-content -->
              </div>
              <!-- /.info-box -->
            </div>
            <div class="col-12 col-sm-6 col-md-3">
              <div class="info-box bg-gradient-cyan" [routerLink]="['/dashboard/tipo_programa']" style="cursor: pointer;">
                <button class="info-box-icon btn btn-dark elevation-1" >
                  <i class="fas fa-window-restore"></i>
                </button>
                <div class="info-box-content">
                  <span class="info-box-text">Acceso a:</span>
                  <span class="info-box-number">Tipos de Programas</span>
                </div>
                <!-- /.info-box-content -->
              </div>
              <!-- /.info-box -->
            </div>
            <!-- /.col -->
          </div>
          <div class="row">
            <div class="col-12 col-sm-6 col-md-3">
              <div class="info-box bg-gradient-cyan" [routerLink]="['/dashboard/deposito']" style="cursor: pointer;">
                <button class="info-box-icon btn btn-dark elevation-1">
                  <i class="fas fa-window-restore"></i>
                </button>
                <div class="info-box-content">
                  <span class="info-box-text">Acceso a:</span>
                  <span class="info-box-number">Depósitos</span>
                </div>
                <!-- /.info-box-content -->
              </div>
              <!-- /.info-box -->
            </div>
            <div class="col-12 col-sm-6 col-md-3">
              <div class="info-box bg-gradient-cyan" [routerLink]="['/dashboard/impuesto']" style="cursor: pointer;">
                <button class="info-box-icon btn btn-dark elevation-1" >
                  <i class="fas fa-window-restore"></i>
                </button>
                <div class="info-box-content">
                  <span class="info-box-text">Acceso a:</span>
                  <span class="info-box-number">Impuestos</span>
                </div>
                <!-- /.info-box-content -->
              </div>
              <!-- /.info-box -->
            </div>
            <div class="col-12 col-sm-6 col-md-3">
              <div class="info-box bg-gradient-cyan" [routerLink]="['/dashboard/marca']" style="cursor: pointer;">
                <button class="info-box-icon btn btn-dark elevation-1">
                  <i class="fas fa-window-restore"></i>
                </button>
                <div class="info-box-content">
                  <span class="info-box-text">Acceso a:</span>
                  <span class="info-box-number">Marcas</span>
                </div>
                <!-- /.info-box-content -->
              </div>
              <!-- /.info-box -->
            </div>
            <div class="col-12 col-sm-6 col-md-3">
              <div class="info-box bg-gradient-cyan" [routerLink]="['/dashboard/unidad_medida']" style="cursor: pointer;">
                <button class="info-box-icon btn btn-dark elevation-1" >
                  <i class="fas fa-window-restore"></i>
                </button>
                <div class="info-box-content">
                  <span class="info-box-text">Acceso a:</span>
                  <span class="info-box-number">Unidades de Medidas</span>
                </div>
                <!-- /.info-box-content -->
              </div>
              <!-- /.info-box -->
            </div>
            <!-- /.col -->
          </div>
          <div class="row">
            <div class="col-12 col-sm-6 col-md-3">
              <div class="info-box bg-gradient-cyan" [routerLink]="['/dashboard/articulo']" style="cursor: pointer;">
                <button class="info-box-icon btn btn-dark elevation-1">
                  <i class="fas fa-window-restore"></i>
                </button>
                <div class="info-box-content">
                  <span class="info-box-text">Acceso a:</span>
                  <span class="info-box-number">Artículos</span>
                </div>
                <!-- /.info-box-content -->
              </div>
              <!-- /.info-box -->
            </div>
            <div class="col-12 col-sm-6 col-md-3">
              <div class="info-box bg-gradient-cyan" [routerLink]="['/dashboard/moneda']" style="cursor: pointer;">
                <button class="info-box-icon btn btn-dark elevation-1">
                  <i class="fas fa-window-restore"></i>
                </button>
                <div class="info-box-content">
                  <span class="info-box-text">Acceso a:</span>
                  <span class="info-box-number">Monedas</span>
                </div>
                <!-- /.info-box-content -->
              </div>
              <!-- /.info-box -->
            </div>
            <div class="col-12 col-sm-6 col-md-3">
              <div class="info-box bg-gradient-cyan" [routerLink]="['/dashboard/lista_precio']" style="cursor: pointer;">
                <button class="info-box-icon btn btn-dark elevation-1">
                  <i class="fas fa-window-restore"></i>
                </button>
                <div class="info-box-content">
                  <span class="info-box-text">Acceso a:</span>
                  <span class="info-box-number">Listas de Precios</span>
                </div>
                <!-- /.info-box-content -->
              </div>
              <!-- /.info-box -->
            </div>
            <div class="col-12 col-sm-6 col-md-3">
              <div class="info-box bg-gradient-cyan" [routerLink]="['/dashboard/cliente']" style="cursor: pointer;">
                <button class="info-box-icon btn btn-dark elevation-1">
                  <i class="fas fa-window-restore"></i>
                </button>
                <div class="info-box-content">
                  <span class="info-box-text">Acceso a:</span>
                  <span class="info-box-number">Clientes</span>
                </div>
                <!-- /.info-box-content -->
              </div>
              <!-- /.info-box -->
            </div>
            <!-- /.col -->
          </div>
          <div class="row">
            <div class="col-12 col-sm-6 col-md-3">
              <div class="info-box bg-gradient-cyan" [routerLink]="['/dashboard/pedido_venta']" style="cursor: pointer;">
                <button class="info-box-icon btn btn-dark elevation-1">
                  <i class="fas fa-window-restore"></i>
                </button>
                <div class="info-box-content">
                  <span class="info-box-text">Acceso a:</span>
                  <span class="info-box-number">Pedidos de Ventas</span>
                </div>
                <!-- /.info-box-content -->
              </div>
              <!-- /.info-box -->
            </div>
            <div class="col-12 col-sm-6 col-md-3">
              <div class="info-box bg-gradient-cyan" [routerLink]="['/dashboard/caja']" style="cursor: pointer;">
                <button class="info-box-icon btn btn-dark elevation-1">
                  <i class="fas fa-window-restore"></i>
                </button>
                <div class="info-box-content">
                  <span class="info-box-text">Acceso a:</span>
                  <span class="info-box-number">Cajas</span>
                </div>
                <!-- /.info-box-content -->
              </div>
              <!-- /.info-box -->
            </div>
            <div class="col-12 col-sm-6 col-md-3">
              <div class="info-box bg-gradient-cyan" [routerLink]="['/dashboard/tipo_documento']" style="cursor: pointer;">
                <button class="info-box-icon btn btn-dark elevation-1">
                  <i class="fas fa-window-restore"></i>
                </button>
                <div class="info-box-content">
                  <span class="info-box-text">Acceso a:</span>
                  <span class="info-box-number">Tipos de Documentos</span>
                </div>
                <!-- /.info-box-content -->
              </div>
              <!-- /.info-box -->
            </div>
            <div class="col-12 col-sm-6 col-md-3">
              <div class="info-box bg-gradient-cyan" [routerLink]="['/dashboard/timbrado']" style="cursor: pointer;">
                <button class="info-box-icon btn btn-dark elevation-1">
                  <i class="fas fa-window-restore"></i>
                </button>
                <div class="info-box-content">
                  <span class="info-box-text">Acceso a:</span>
                  <span class="info-box-number">Timbrados</span>
                </div>
                <!-- /.info-box-content -->
              </div>
              <!-- /.info-box -->
            </div>
            <!-- /.col -->
          </div>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
  </div>

</section>
