<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Página Web</title>
    <!-- Enlaces a los archivos CSS y JS de Bootstrap desde los CDNs -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
    <style>
        body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 12px;
        }
    </style>
</head>

<body>
    <div class="container mt-4">
        <!-- Aquí puedes comenzar a construir tu página web con Bootstrap -->
        <div class="content-header border border-2 rounded">
            <div class="text-center mb-4 mt-4">
                <h5>Comprobante de Pedido de Venta</h5>
            </div>
        </div>
        <div class="container border border-2 rounded mt-2">
            <div class="pl-3">
                <p class="mb-1 mt-1"><strong>Número de Pedido:</strong> <span class="float-end">Valor del Pedido</span>
                </p>
                <p class="mb-1 mt-1"><strong>Fecha:</strong> <span class="float-end">Valor de la Fecha</span></p>
                <p class="mb-1 mt-1"><strong>Hora:</strong> <span class="float-end">Valor de la Hora</span></p>
                <p class="mb-1 mt-1"><strong>Moneda:</strong> <span class="float-end">Valor de la Moneda</span></p>
                <p class="mb-1 mt-1"><strong>Lista de Precio:</strong> <span class="float-end">Valor de la Lista</span>
                </p>
                <p class="mb-1 mt-1"><strong>Observacion:</strong> <span class="float-end">Valor de la
                        Observación</span></p>
            </div>
        </div>
        <div class="container border border-2 rounded mt-2">
            <div class="pl-3 pt-3 pr-3 pb-3">
                <table class="table table-sm border-1">
                    <thead>
                        <tr>
                            <th class="text-left">Ref.</th>
                            <th class="text-left">Artículo</th>
                            <th style="text-align: right">Precio</th>
                            <th style="text-align: right">Cantidad</th>
                            <th style="text-align: right">Sub Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text-left">001</td>
                            <td class="text-left">Producto A</td>
                            <td style="text-align: right">50.00 USD</td>
                            <td style="text-align: right">3</td>
                            <td style="text-align: right">150.00 USD</td>
                        </tr>
                        <tr>
                            <td class="text-left">001</td>
                            <td class="text-left">Producto A</td>
                            <td style="text-align: right">50.00 USD</td>
                            <td style="text-align: right">3</td>
                            <td style="text-align: right">150.00 USD</td>
                        </tr>
                        <tr>
                            <td class="text-left">001</td>
                            <td class="text-left">Producto A</td>
                            <td style="text-align: right">50.00 USD</td>
                            <td style="text-align: right">3</td>
                            <td style="text-align: right">150.00 USD</td>
                        </tr>
                        <tr>
                            <td class="text-left">001</td>
                            <td class="text-left">Producto A</td>
                            <td style="text-align: right">50.00 USD</td>
                            <td style="text-align: right">3</td>
                            <td style="text-align: right">150.00 USD</td>
                        </tr>
                        <tr>
                            <td class="text-left">001</td>
                            <td class="text-left">Producto A</td>
                            <td style="text-align: right">50.00 USD</td>
                            <td style="text-align: right">3</td>
                            <td style="text-align: right">150.00 USD</td>
                        </tr>
                        <tr>
                            <td class="text-left">001</td>
                            <td class="text-left">Producto A</td>
                            <td style="text-align: right">50.00 USD</td>
                            <td style="text-align: right">3</td>
                            <td style="text-align: right">150.00 USD</td>
                        </tr>
                        <tr>
                            <td class="text-left">001</td>
                            <td class="text-left">Producto A</td>
                            <td style="text-align: right">50.00 USD</td>
                            <td style="text-align: right">3</td>
                            <td style="text-align: right">150.00 USD</td>
                        </tr>
                        <tr>
                            <td class="text-left">001</td>
                            <td class="text-left">Producto A</td>
                            <td style="text-align: right">50.00 USD</td>
                            <td style="text-align: right">3</td>
                            <td style="text-align: right">150.00 USD</td>
                        </tr>
                        <tr>
                            <td class="text-left">001</td>
                            <td class="text-left">Producto A</td>
                            <td style="text-align: right">50.00 USD</td>
                            <td style="text-align: right">3</td>
                            <td style="text-align: right">150.00 USD</td>
                        </tr>
                        <tr>
                            <td class="text-left">001</td>
                            <td class="text-left">Producto A</td>
                            <td style="text-align: right">50.00 USD</td>
                            <td style="text-align: right">3</td>
                            <td style="text-align: right">150.00 USD</td>
                        </tr>
                        <!-- Agrega más filas según sea necesario -->
                    </tbody>
                </table>
            </div>
        </div>
        <div class="container border border-2 rounded mt-2">
            <div class="pl-3">
                <p class="mb-1 mt-1" style="text-align: right;">
                    <strong>Total:</strong>
                    <span>Valor del Total</span>
                </p>
            </div>
        </div>
    </div>

    <!-- Scripts de Bootstrap (dejar al final del body) -->
</body>

</html>