<div class="row">
  <div class="col-md-9">
    <div class="card card-green" [@fadeInOut]>
      <div class="card-header">
        <h3 class="card-title">Ingreso de Pedidos de Ventas</h3>
      </div>
      <div class="card-body col-form-label-sm">
        <form [formGroup]="formularioCabecera">
          <div class="row">
            <div class="col-md-2">
              <label>Número</label>
              <div class="input-group mb-1">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-file-alt"></i></span>
                </div>
                <input id="txtNumero" type="number" class="form-control form-control-sm" formControlName="numero_pedido"
                  placeholder="000">
              </div>
            </div>
            <div class="col-md-3">
              <label>Moneda</label>
              <div class="input-group mb-1">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-money-bill-wave"></i></span>
                </div>
                <select id="txtMoneda" class="form-control form-control-sm" formControlName="moneda_id">
                  <option selected="selected" disabled>Seleccione</option>
                  <option *ngFor="let moneda of monedas" [value]="moneda.moneda_id">{{ moneda.descripcion }}</option>
                </select>
              </div>
            </div>
            <div class="col-md-3">
              <label>Lista de Precio</label>
              <div class="input-group mb-1">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-tags"></i></span>
                </div>
                <select id="txtListaPrecio" class="form-control form-control-sm" formControlName="lista_precio_id">
                  <option selected="selected" disabled>Seleccione</option>
                  <option *ngFor="let lista_precio of listas_precios" [value]="lista_precio.lista_precio_id">{{
                    lista_precio.descripcion }}</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <label>Observaciones</label>
              <div class="input-group mb-1">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-file-alt"></i></span>
                </div>
                <input id="txtObservacion" (keydown.enter)="goToNextField('txtCodigoAlfanumerico')" #observacionInput
                  type="text" class="form-control form-control-sm" formControlName="observacion"
                  placeholder="Observaciones correspondientes al pedido de venta">
              </div>
            </div>
          </div>
        </form>
        <hr>
        <form [formGroup]="formularioArticulo">
          <div class="row">
            <div class="col-md-3">
              <label>Codigo alfanumerico</label>
              <div class="input-group mb-1">
                <input id="txtCodigoAlfanumerico" type="text" class="form-control form-control-sm"
                  placeholder="Códigos de barra" (keyup.enter)="searchArticulo()" formControlName="codigo_alfanumerico"
                  style="font-weight: bold; cursor: pointer;" autocomplete="off">
              </div>
              <!-- Este input se usa para almacenar el ID del artículo, así para utilizar al crear el array para el detalle -->
              <input type="number" formControlName="articulo_id" [hidden]="true">
            </div>
            <div class="col-md-5">
              <label>Artículo</label>
              <div class="input-group mb-1">
                <input id="txtArticuloDescripcion" type="text" class="form-control form-control-sm"
                  placeholder="Aquí la descripción del artículo" formControlName="descripcion_articulo"
                  style="font-weight: bold; cursor: pointer;" autocomplete="off" (input)="searchArticuloDescripcion()"
                  (click)="loadArticulos()">
              </div>
              <ul class="sugerencias" *ngIf="sugerencias.length > 0">
                <li *ngFor="let sugerencia of sugerencias" (click)="seleccionarSugerencia(sugerencia)">{{ sugerencia }}
                </li>
              </ul>
            </div>

            <div class="col-md-2 text-right">
              <label>Precio</label>
              <div class="input-group mb-1">
                <input id="txtPrecio" type="text" class="form-control form-control-sm text-right" placeholder="0"
                  formControlName="precio" [mask]="getMascara(selectedMonedaId)" decimalMarker="," thousandSeparator="."
                  style="font-weight: bold; cursor: pointer;" autocomplete="off">
              </div>
            </div>
            <div class="col-md-2 text-right">
              <label>Cantidad</label>
              <div class="input-group mb-1">
                <input id="txtCantidad" type="text" class="form-control form-control-sm text-right" placeholder="0"
                  formControlName="cantidad" [mask]="getMascara(2)" decimalMarker="," thousandSeparator="."
                  style="font-weight: bold; cursor: pointer;" autocomplete="off"
                  (keyup.enter)="agregarArticuloDetalle()">
              </div>
            </div>
          </div>
        </form>
        <br>
        <form [formGroup]="formularioDetalle">
          <!-- Agregar el siguiente código para la tabla con scroll -->
          <div class="table-responsive-sm overflow-auto" style="max-height: 252px; min-height: 252px;">
            <table id="tablaDetalles" class="table table-sm table-hover" name="tablaDetalles">
              <!-- Encabezados de la tabla -->
              <thead>
                <tr>
                  <th class="text-center">#</th>
                  <th>Referencia</th>
                  <th>Artículo</th>
                  <th class="text-right">Precio</th>
                  <th class="text-right">Cantidad</th>
                  <th class="text-right">SubTotal</th>
                  <th class="text-right">Acciones</th>
                </tr>
              </thead>
              <!-- Cuerpo de la tabla -->
              <tbody>
                <tr *ngFor="let item of pedidoDetalles; let i = index;">
                  <td class="text-center">{{ item.item_numero }}</td>
                  <td>{{ item.codigoAlfanumerico }}</td>
                  <td>{{ item.descripcionArticulo }}</td>
                  <td class="text-right">{{ formatearValor(item.precio, selectedMonedaId) }}</td>
                  <td class="text-right">{{ formatearValor(item.cantidad, 2) }}</td>
                  <td class="text-right">{{ formatearValor(item.subtotal, selectedMonedaId) }}</td>
                  <td class="pr-0 text-center">
                    <!-- Botón para mostrar el menú emergente -->
                    <div class="dropdown dropleft">
                      <button type="button" class="btn btn-dark btn-small" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        <i class="fas fa-ellipsis-v"></i>
                      </button>
                      <!-- Menú emergente -->
                      <div class="dropdown-menu">
                        <a style="cursor: pointer;" class="dropdown-item" (click)="retirarArticuloDetalle(item)">
                          <i class="fas fa-trash"></i> &nbsp; Eliminar
                        </a>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card card-dark" [@fadeInOut]>
      <div class="card-header">
        <h3 class="card-title">Operaciones</h3>
      </div>
      <div class="card-body col-form-label-sm btn-group">
        <button class="btn btn-outline-info btn-sm" data-toggle="modal" data-target="#miModalNuevo"
          [disabled]="botonesForm.get('nuevoHabilitado')?.value">
          <i class="fas fa-plus-circle"></i>
          Nuevo
        </button>
        <button class="btn btn-outline-success btn-sm" data-toggle="modal" data-target="#miModalGuardar"
          [disabled]="botonesForm.get('guardarHabilitado')?.value">
          <i class="fas fa-check-circle"></i>
          Guardar
        </button>
        <button class="btn btn-outline-danger btn-sm" data-toggle="modal" data-target="#miModalCancelar"
          [disabled]="botonesForm.get('cancelarHabilitado')?.value">
          <i class="fas fa-times-circle"></i>
          Cancelar
        </button>
      </div>

    </div>
    <!-- Nuevo card debajo del segundo card -->
    <div class="card card-cyan" style="max-height: 500px; min-height: 450px;">
      <div class="card-header">
        <h3 class="card-title">Resumen del Pedido</h3>
      </div>
      <div class="card-body col-form-label-sm">
        <p><u>Totales</u></p>
        <div class="col-md-auto">
          <div class="row">
            <label>Total del Documento: </label>
            <label class="ml-auto"> {{ obtenerAbreviacionMoneda(selectedMonedaId) }} {{ formatearValor(totalMonto,
              selectedMonedaId) }} </label>
          </div>
          <div class="row">
            <label>Total de Articulos Ingresados: </label>
            <label class="ml-auto"> {{ totalArticulos }} </label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="miModalNuevo" tabindex="-1" role="dialog" aria-labelledby="miModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content modal-fade-in">
      <!-- Encabezado de la ventana modal -->
      <div class="modal-header">
        <h5 class="modal-title">Seleccione una opcion</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <!-- Contenido de la ventana modal -->
      <div class="modal-body">
        <p>¿Desea ingresar un nuevo Pedido de Venta?</p>
      </div>

      <!-- Botones de la ventana modal -->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal"
          (click)="nuevoPedido(true)">Confirmar</button>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="miModalGuardar" tabindex="-1" role="dialog" aria-labelledby="miModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content modal-fade-in">
      <!-- Encabezado de la ventana modal -->
      <div class="modal-header">
        <h5 class="modal-title">Seleccione una opcion</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <!-- Contenido de la ventana modal -->
      <div class="modal-body">
        <p>¿Desea guardar el pedido?</p>
      </div>

      <!-- Botones de la ventana modal -->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="guardarPedido()">Confirmar</button>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="miModalCancelar" tabindex="-1" role="dialog" aria-labelledby="miModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content modal-fade-in">
      <!-- Encabezado de la ventana modal -->
      <div class="modal-header">
        <h5 class="modal-title">Seleccione una opcion</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <!-- Contenido de la ventana modal -->
      <div class="modal-body">
        <p>¿Desea cancelar el pedido?</p>
      </div>

      <!-- Botones de la ventana modal -->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal"
          (click)="cancelarPedido(false)">Confirmar</button>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="miModalImprimir" tabindex="-1" role="dialog" aria-labelledby="miModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
    <div class="modal-content modal-fade-in">
      <!-- Encabezado de la ventana modal -->
      <div class="modal-header">
        <h5 class="modal-title">Seleccione una opcion</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <!-- Contenido de la ventana modal -->
      <div class="modal-body">
        <p>¿Desea imprimir el comprobante?</p>
      </div>

      <!-- Botones de la ventana modal -->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" (click)="abrirEnNuevaPestana(pedido_venta_id_recuperado)">Confirmar</button>
      </div>
    </div>
  </div>
</div>
<!--
<div id="print-section" class="hidden-ticket">
  <body>
    <div id="print-container" class="container mt-4">
      <div class="container mt-4">
        <div class="content-header border border-2 rounded">
          <div class="text-center mb-4 mt-4">
            <h5>Comprobante de Pedido de Venta</h5>
          </div>
        </div>
        <div class="container border border-2 rounded mt-2">
          <div class="pl-3">
            <div class="row">
              <div class="col-md-6">
                <p class="mb-1 mt-1"><strong>Número de Pedido:</strong></p>
              </div>
              <div class="col-md-6">
                <p class="mb-1 mt-1" style="font-weight: bold;">{{ p_numero_pedido }}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <p class="mb-1 mt-1"><strong>Fecha:</strong></p>
              </div>
              <div class="col-md-6">
                <p class="mb-1 mt-1" style="font-weight: bold;">0</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <p class="mb-1 mt-1"><strong>Hora:</strong></p>
              </div>
              <div class="col-md-6">
                <p class="mb-1 mt-1" style="font-weight: bold;">0</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <p class="mb-1 mt-1"><strong>Moneda:</strong></p>
              </div>
              <div class="col-md-6">
                <p class="mb-1 mt-1" style="font-weight: bold;">{{ p_moneda }}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <p class="mb-1 mt-1"><strong>Lista de Precio:</strong></p>
              </div>
              <div class="col-md-6">
                <p class="mb-1 mt-1" style="font-weight: bold;">{{ p_lista_precio }}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <p class="mb-1 mt-1"><strong>Observacion:</strong></p>
              </div>
              <div class="col-md-6">
                <p class="mb-1 mt-1" style="font-weight: bold;">{{ p_observacion }}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="container border border-2 rounded mt-2">
          <div class="pl-3 pt-3 pr-3 pb-3">
            <table class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th class="text-left">Ref.</th>
                  <th class="text-left">Artículo</th>
                  <th class="text-right">Precio</th>
                  <th class="text-right">Cantidad</th>
                  <th class="text-right">Sub Total</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of p_detalles">
                  <td class="text-left">{{ item.referencia }}</td>
                  <td class="text-left">{{ item.descripcionArticulo }}</td>
                  <td class="text-right">{{ item.precio }}</td>
                  <td class="text-right">{{ item.cantidad }}</td>
                  <td class="text-right">{{ item.subtotal }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="container border border-2 rounded mt-2">
          <div class="pl-3">
            <div class="row">
              <div class="col-md-6 offset-md-6">
                <p class="mb-1 mt-1 text-right">
                  <strong>Total:</strong>
                </p>
              </div>
              <div class="col-md-6 offset-md-6">
                <p class="mb-1 mt-1 text-right" style="font-weight: bold;">0</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</div>
-->
