.select-wrapper {
  position: relative;
}

.search-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
}

select {
  width: 100%;
}

select option.hide {
  display: none;
}

/* Estilo para el botón más pequeño */
.btn-small {
  padding: 0.15rem 0.4rem; /* Ajusta el relleno según tu preferencia */
  font-size: 0.675rem; /* Ajusta el tamaño de la fuente según tu preferencia */
}
