.select-wrapper {
  position: relative;
}

.search-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
}

select {
  width: 100%;
}

select option.hide {
  display: none;
}
